@import url('https://fonts.googleapis.com/css?family=Lancelot');

.uk-heading-line {
    font-family: 'Lancelot', cursive;
    font-size: 8em;
    color: white;
    text-shadow: 4px 4px black;
}
.uk-button-default {
  background-color: rgb(56, 71, 71);
  color: white;
  border: 1px solid #e5e5e5;
  margin: 0px 10px 0px 0px;
}

.uk-button-default:focus, .uk-button-default:hover {
  background-color: rgba(0, 135, 177, 0.582);
}

.formStyle {
  margin: 0px 0px 0px 50px;
}
