.background { 
    background: url("https://img00.deviantart.net/f694/i/2015/292/0/c/nice_house_by_roman_gp-d9dqnmw.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* ===== */
    border-top: 0;
    height: 100vh;
  }